* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  display: flex;
}

body {
  /* background-color: #f8f8f8; */
  background: linear-gradient(to bottom right, #ffffff, #cae5ff);
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.container {
  width: 1440px;
  margin-inline: auto;
}

.navbar {
  display: flex;
}

.navbar-show-icon {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  background-color: #212121;
}

.navbar-show-icon a {
  padding: 21px;
}

.welcome-contents {
  color: #212121;
  padding: 120px 411px 120px 155px;
}

.welcome-contents h4 {
  font-size: 30px;
  font-weight: 400;
  line-height: 37px;
  letter-spacing: -0.3499999940395355px;
  margin-bottom: 12px;
}

.welcome-contents h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 70px;
  letter-spacing: -0.699999988079071px;
}

.social-media {
  display: flex;
  gap: 32px;
  margin-top: 40px;
}

.latest-project {
  padding: 80px 165px;
}

.cards-area {
  margin-top: 16px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
  width: calc((100% / 3) - (24px * 2) / 3);
  border: 1px solid #00324c;
  border-radius: 12px;
  margin-bottom: 80px;
  padding: 16px;
  transition: 0.5s ease;
  box-shadow: 2px 4px #000;
}

.card:hover {
  background-color: #004c75;
  color: #fff;
  box-shadow: 2px 4px #6a9eff;
}

.card img {
  border-radius: 12px;
  width: 100%;
}

.card h2 {
  display: inline-block;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.3499999940395355px;
  margin-top: 24px;
  color: inherit;
}

.card p {
  font-family: "Open Sans", sans-serif;
  line-height: 28px;
  margin-top: 16px;
}

.card-figure {
  position: relative;
}

.card-figure span {
  position: absolute;
  bottom: 5px;
  right: 15px;
  background-color: #005b89;
  padding: 5px;
  color: #fff;
  font-weight: 600;
  border-radius: 6px;
}

.card-links {
  margin-top: 32px;
}

.card-links a {
  display: flex;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
  padding-right: 16px;
}

.card-links a:hover {
  filter: brightness(0) saturate(100%) invert(62%) sepia(15%) saturate(6264%) hue-rotate(195deg) brightness(101%) contrast(101%);
}

.card-links img {
  transition: 0.5s ease;
  width: 18px;
  margin-left: 4px;
}

.card:hover > .card-links img {
  filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(49deg) brightness(107%) contrast(103%);
}

.contact-content {
  color: #212121;
  padding: 120px 150px;
}

.contact-content h4 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 16px;
}

.contact-content h2 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: -0.4000000059604645px;
}

.contact-content a {
  color: #0d6efd;
  display: inline-flex;
}

.footer h6 {
  margin-left: 165px;
  margin-bottom: 32px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #212121;
}
