* {
  font-family: "Lexend", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #1d201f;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.contents {
  position: relative;
  margin-inline: auto;
  width: 300px;
  height: 200px;
}

.contents div {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #fff;
  display: flex;
  align-items: center;
}

.htmlDiv {
  left: 0;
  background-color: #e76f51;
}

.cssDiv {
  left: 0;
  right: 0;
  margin-inline: auto;
  background-color: #018adf;
}

.jsDiv {
  right: 0;
  background-color: #e9c46a;
}

.contents span {
  display: none;
  margin-inline: auto;
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
}

.contents:hover {
  cursor: pointer;
}

.htmlDiv:hover {
  z-index: 1;
}

.cssDiv:hover {
  z-index: 1;
}

.jsDiv:hover {
  z-index: 1;
}

.htmlDiv:hover span {
  display: block;
}

.cssDiv:hover span {
  display: block;
}

.jsDiv:hover span {
  display: block;
}
